@import "tachyons";

h1 {
  font-family: "Arimo";
}

.rotate {
  /* transform: translate(-10px) rotate(15deg); */
}

.w7rem {
  width: 10rem;
  min-width: 7.5rem;
}

table {
  border-collapse: collapse;
  font-family: "Work Sans";  
}