@font-face{
  font-family: "Gibson Detroit Regular";
  src: url("./fonts/GibsonDetroit-Reg.eot");
  src: url("./fonts/GibsonDetroit-Reg.woff") format("woff"),
       url("./fonts/GibsonDetroit-Reg.svg#filename") format("svg")
}
@font-face{
  font-family: "Gibson Detroit Light";
  src: url("./fonts/GibsonDetroit-Light.eot");
  src: url("./fonts/GibsonDetroit-Light.woff") format("woff"),
       url("./fonts/GibsonDetroit-Light.svg#filename") format("svg")
}

body {
  font-family: "Gibson Detroit Regular", "Gibson Detroit Light", sans-serif;
  margin: 0;
  padding: 0;
}

/* BETA tag */
body:after{
  content: "beta";
  position: fixed;
  width: 70px;
  height: 20px;
  background: #B0D27B;
  top: 5px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: "Gibson Detroit Regular", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #000;
  line-height: 19px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  z-index: 2500;
  box-shadow: 1px 3px 10px #aaa;
}

@media screen and (max-width: 768px) {
  /* .map {
    height: 400px;
  } */
}

@media screen and (min-width: 768px) {
  .App, .BusRoute, .nearby {
    display: grid;
    grid-template: auto repeat(8, 1fr) auto / repeat(8, 1fr);
    grid-gap: 15px;
    height: 100vh;
    width: 100vw;
  }

  .nav {
    grid-row: 1/2;
    grid-column: 1/9;
  }

  .footer {
    grid-column: 1/9;
    grid-row: 10/11;
  }
  
  .header {
    grid-row: 1/2;
    grid-column: 1/9;
  }

  /* Homepage */
  .explainer {
    grid-row: 2/3;
    grid-column: 1/9;
  }

  .routes-homepage {
    grid-row: 3/6;
    grid-column: 1/6;
  }

  .stops {
    grid-row: 3/6;
    grid-column: 6/9;
  }

  .systemMap {
    grid-row: 7/8;
    grid-column: 1/9;
  }

  .footer-homepage {
    grid-row: 8/9;
    grid-column: 1/9;
  }

  .details {
    grid-row: 2/10;
    grid-column: 5/9;
  }
  .routeMap {
    grid-column: 1/5;
    grid-row: 2/11;
  }

  .stopList {
    grid-row: 2/11;
    grid-column: 5/9;
    overflow-y: scroll;
  }

  /* Stop, LineRealTime */
  .map {
    grid-column: 1/5;
    grid-row: 2/11;
    border: 5px solid white;
  }
  .routes {
    grid-column: 5/9;
    grid-row: 2/11;
    overflow-y: auto;
  }

  /* / */
  .search {
    grid-column: 1/4;
    grid-row: 2/11;
  }
  .geolocate {
    grid-column: 5/9;
    grid-row: 2/9;
  }

  /* LineSchedule */
  .schedule {
    grid-column: 1/9;
    grid-row: 2/9;
  }
}

.sticky-table .sticky-table-cell{
  display: table-cell;
  border-collapse: collapse;
  box-sizing: border-box;
}

.sched {
  min-width: 6rem;
}

.sticky-table .sticky-table-row {
  display: table-row;
}
.sticky-table .sticky-table-container {
  display: table;
  box-sizing: border-box;
}
.sticky-table {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
.sticky-table .sticky-table-corner {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
.sticky-table .sticky-table-header {
  position: absolute;
  z-index: 2;
}
.sticky-table .sticky-table-column,
.sticky-table .sticky-table-header,
.sticky-table .sticky-table-corner {
  background-color: #fff;
  display: block;
}
.sticky-table .sticky-table-column {
  position: absolute;
  z-index: 1;
}
.sticky-table .sticky-table-x-wrapper,
.sticky-table .sticky-table-y-wrapper {
  z-index: 0;
  position: relative;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.sticky-table .sticky-table-x-wrapper {
  min-height: 100%;
  width: 100%;
  overflow-x: auto;
}
.sticky-table .sticky-table-y-wrapper {
  height: 100%;
  overflow-y: auto;
  margin-right: -17px;
  padding-right: 17px;
}
/*
Hack to make table paint on it's own layer.
Because of this it won't paint when the scrollbar paints.
This one was crucial for performance.
Scrolling is probably 10-20x smoother.
*/
.sticky-table .sticky-table-x-wrapper .sticky-table-container {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

/* Scrollbars */
.sticky-table-y-wrapper::-webkit-scrollbar,
.sticky-table-x-wrapper::-webkit-scrollbar {
  display: none;
}
.sticky-table #x-scrollbar,
.sticky-table #y-scrollbar {
  position: absolute;
  background-color: transparent;
  z-index: 5;
  overflow: auto;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
.sticky-table #x-scrollbar {
  left: 0px;
  bottom: 0px;
  height: 20px;
}
.sticky-table #y-scrollbar {
  right: 0px;
  top: 0px;
  height: 100%;
  width: 20px;
}
.sticky-table #x-scrollbar div {
  height: 100%;
}
.sticky-table #y-scrollbar div {
  width: 100%;
}

.sticky-table {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  height: 0px;
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red
::-webkit-scrollbar-thumb {
  background: #FF0000;
} */
